body { 
  margin:0; 
  padding:0; 
  /*background-color:black;*/
}
.container{
  width: 100%;
}
 #mycontainer{ 
  position: absolute; 
  top: 0px; 
  bottom: 0px; 
  width: 100%;
}
#left-side{
  width: 50%;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  position: relative;
  height: 100%;
}
 #map {
  position:absolute;
  top:0%; bottom:0;
  width:100%; 
}
.map-inner{
  /*position: relative;
  top:0px;
  bottom: 20%;
  width: 100%;*/
}
 #map-container{
  position: absolute;
  /*height: 30em;*/
  left: 50%;
  top: 0px;
  height: 100%;
  width: 50%;
}
.form-horizontal{
  margin: 15px;
}

#progress-text{
  /*padding: 1em;*/
}
.row{
  margin-left: 0px;
  margin-right: 0px
}