<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Traffic Simulator</title>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div id="mycontainer">
      <div id="left-side">
      <div class="container" id="progress-header">
        <div class="row">
          <div>
            <div class="text-center col-sm-4 col-sm-offset-4"><h4><label class="label label-default">Progress:</label></h4></div>
          </div>
        </div>
      </div>

        <div class="row text-center" id="progress-text">
          
        </div>

        <hr>

        <div class="row">
          <form class="form-horizontal" action="post" id="estate_stop_number">
              <div class="form-group">
                <label for="default_draw_value" class="col-sm-6 control-label">Default Number of Stops</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="default_draw_value" placeholder="No of stops on route" value="10">
                </div>
              </div>

              <hr>

              {% for estate in estates %}
              <div class="form-group">
                <label for="estate{{loop.index}}" class="col-sm-6 control-label">{{ estate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="{{estate}}" id="estate{{loop.index}}" placeholder="No of stops on route">
                </div>
              </div>
              {% endfor %}

              <hr>

              <div class="form-group text-center">
                <div class="col-sm-4 col-sm-offset-4">
                  <input type="submit" class="btn btn-primary" id="getpoints" value="Draw Stations">
                </div>
              </div>
            
          </form>
        </div>

        <div class="row" id="sim_params_holder">
        <!-- holds the contents of the html data loaded via a get request to /sim_params -->
        </div>

        <div class="row">
          <div class="text-center">
            <div class="col-sm-4 col-sm-offset-4">
              <a href="#" class="btn btn-success" id="run_sim">Run Simulation</a>
            </div>
            <!-- <div class="col-sm-4 col-sm-offset-4">
              <a href="#" class="btn btn-danger" id="query_res">Query Res</a>
            </div> -->
          </div>
        </div>

          
      </div>
      </div>

      <div id="map-container">
        <div id="map"></div>
      </div>
  </div>
        
      

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
      L.mapbox.accessToken = 'pk.eyJ1IjoibXV1byIsImEiOiJBb3pDV0JVIn0.WQbM8nHzlNqD_40KoN-coA';
      // var map = L.mapbox.map('map', 'geonyoro.loj2ddop').setView([-1.309, 36.835], 14);
      var map = L.mapbox.map('map', 'muuo.l9o1k4d6').setView([-1.3086163769205923,36.831862033831825], 14);

      jQuery("#run_sim").hide();
      jQuery("#sim_params_holder").hide();
      jQuery("#progress-header").hide();

      var sim_params_modal = 0;
      map_points = [];
      var myQuery;
      var station_being_modified = 0;

      jQuery("#estate_stop_number").on("submit", function(event){
        jQuery(this).hide();
        // jQuery("#run_sim").show();

        event.preventDefault();
        var params = jQuery("#estate_stop_number").serialize();
    
        jQuery.getJSON("/draw_points", params, function(data){
          for (i = 0; i < data.length; i++){
            // int j;
             for ( var j = 0; j < data[i].length; j++){
                // a simple GeoJSON featureset with a single point
                // with no properties

                if (j==0){
                  color="#fa0";
                  symbol='star';
                }
                else{
                  color="fff";
                  symbol="bus";
                }
                // console.log(i+" -> "+j+"  -- "+data[i][j]);
                //for some reason, these values are inverted, longitude and lattitude
                //exchange them
                m=L.marker( [data[i][j][1] ,data[i][j][0] ], {
                    title: data[i][j][2],
                    icon: L.mapbox.marker.icon({
                        'marker-size': 'large',
                        'marker-symbol': symbol,
                        'marker-color': color
                    })
                });
                m.route = data[i][j][3];
                if (j==0){
                  m.main_stop = 1;
                }
                else{
                  m.main_stop = 0;
                }
                m.weight= data[i][j][4];
                insert_location = map_points.length;
                map_points[insert_location] = m;
                m.insert_location = insert_location;
                m.addTo(map);

                m.on("click",function(event){
                  // console.log(sim_params_modal);
                  if (sim_params_modal == 1){
                    jQuery("#sim_params_station_name").text(this.options.title+"->"+this.route);
                    jQuery("#sim_params_modal").modal("show");
                    jQuery("#sim_params_weight").val(this.weight);
                    station_being_modified = this.insert_location;
                  }
                }); //m.onclick



             } //for j
          } // for i

          jQuery.get("/sim_params", function(data){
            jQuery("#sim_params_holder").html(data);
            sim_params_modal = 1;
            jQuery("#sim_params_holder").show();
          });
        });
      });

      // prevent form submission by default
      

      var query_sim = function(){
        jQuery.get("/query_sim", function(data){
          var progress = parseFloat(data.time);
          jQuery("#progress-text").text( progress +"%");
          if ( progress == 100 ){
            clearInterval(myQuery);
            jQuery.get("/get_results", function(data){
              jQuery("#progress-header").hide();
              jQuery("#progress-text").html(data);
              clearInterval(myQuery); 
            });
          }
        });
      };

      // jQuery("#query_res").on("click", function(){
      //       jQuery.get("/get_results", function(data){
      //         jQuery("#progress-text").html(data);
      //       });
      // });      

      jQuery("#run_sim").on("click", function(){
        jQuery("#run_sim").hide();
        jQuery("#progress-header").show();
        jQuery.get("/run_sim", function(){
          myQuery=setInterval(query_sim, 300);
        });
      });
        </script>

  </body>
</html>
