<div class="row">
	<div class="col-sm-4"><strong>{{col1_title}}</strong></div>
	<div class="col-sm-4"><strong>{{col2_title}}</strong></div>
	<div class="col-sm-4"><strong>{{col3_title}}</strong></div>
</div>
<hr>
{% for result in results %}
	{% for item in results[result] %}
		<div class="row">
			<div class="col-sm-4"> {% if loop.index == 1 %} {{ result }} {% endif %}</div>
			<div class="col-sm-4">{{ item[0] }}</div>
			<div class="col-sm-4">{{ item[1] }}</div>
			<hr>
		</div>
	{% endfor %}
{% endfor %}
<div class="row text-center">
	<div class=" col-sm-4 col-sm-offset-4">
		<a href="/reset_sim" class="btn btn-success">Reset Simulation</a>
	</div>
</div>