<form class="form-horizontal" id="sim_params_form">
	<div class="form-group">
        <label for="hours_to_run" class="col-sm-6 control-label">Hours to Run:</label>
        <div class="col-sm-5"  style="text-align:left;">
          <input type="text" class="form-control" name="hours_to_run" placeholder="24" value="24">
        </div>
    </div>

    <div class="form-group">
        <label for="start_time" class="col-sm-6 control-label">Start Time(19=7PM, 7=7AM):</label>
        <div class="col-sm-5" style="text-align:left;">
          <input type="text" class="form-control" name="start_time" placeholder="7" value="7">
        </div>
    </div>

    <div class="form-group">
        <label for="max_psvs" class="col-sm-6 control-label">Maximum Psvs at station:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="max_psvs" placeholder="4" value="4">
        </div>
    </div>

    <hr>
    
    {% for estate in estates %}
    <div class="form-group">
    	<div class="col-xs-12 text-center">
    		<h4><label class="label label-default">{{estate}}</label></h4>
    	</div>
    </div>
	<div class="form-group">
		<label for="mats_estate{{loop.index}}" class="col-sm-6 control-label">No of Mats on Route</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="{{estate}}" id="mats_estate{{loop.index}}" placeholder="No of mats on route" value="5">
		</div>
	</div>
	<div class="form-group">
		<label for="speed{{loop.index}}" class="col-sm-6 control-label">Speed of Mats on Route(Kph)</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="speed_{{estate}}" id="speed_{{loop.index}}" placeholder="e.g. 80 Kph" value="80">
		</div>
	</div>
	
  {% endfor %}
	<hr>
  	<div class="form-group text-center">
	    <div class="col-sm-4 col-sm-offset-4">
	      <input type="submit" class="btn btn-primary" id="submit_params" value="Submit Parameters">
	    </div>
	</div>
</form>

<div class="modal" id="sim_params_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modify Route: <span id="sim_params_station_name">Station Name:</span> </h4>
      </div>

      <div class="modal-body">
        <div class="row text-center">
        	<label class="col-sm-6 control-label">Weight:</label>
        	<div class="col-sm-6">
				<input type="text" class="form-control" name="weight" id="sim_params_weight" placeholder="Weight" value="1">
			</div>
        </div><!-- row -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="modal_save">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	jQuery("#modal_save").on("click", function(){
		var weight = jQuery("#sim_params_weight").val();
		jQuery("#sim_params_modal").modal("hide");
		var former_weight = map_points[station_being_modified].weight;
		map_points[station_being_modified].weight = parseFloat(weight);
		console.log("M1: "+map_points[station_being_modified].weight);
	});
	jQuery("#sim_params_form").on("submit", function(event){
		event.preventDefault();
		sim_params_modal = 0;
		var data = jQuery(this).serialize();
		console.log(data);
		// alert("serialized "+data);
		converted_map_points = [];

		for (var i = map_points.length - 1; i >= 0; i--) {
			m = map_points[i];
			// console.log(m.weight);
			temp = [];
			temp[0]= m.weight;
			temp[1]= m.options.title;
			temp[2]= m.route;
			temp[3]= m.main_stop;
			converted_map_points[converted_map_points.length] = temp;
		};
		params = {
			"data": data,
			"map_points": JSON.stringify(converted_map_points)
		}
		jQuery.post("/sim_config", params, function(){
			jQuery("#sim_params_holder").hide();
			jQuery("#run_sim").show();
		});
		jQuery("#sim_params_modal").hide();
	});
</script>